<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">

<nav th:replace="~{fragments :: navigation}"></nav>

<h1>Create Event</h1>

<form method="post">
    <div class="form-group">
        <label>Event Name:
            <input type="text" name="eventName" class="form-control">
        </label>
    </div>
    <br>
    <div class="form-group">
        <label>Event Description:
            <input type="text" name="eventDesc" class="form-control">
        </label>
    </div>
    <br><br>
    <div class="form-group">
        <label>
            <input type="submit" value="Create Event" class="btn btn-success">
        </label>
    </div>
</form>

</body>
</html>